*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(https://www.portalautomotriz.com/sites/portalautomotriz.com/files/media/photos/headdd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    color: black;
            background: rgb(247, 247, 0);
            font-size: 50px;
            text-align: center;
            border-style: none
}
h2{
    background: blue;
            color:white;
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            font-style: unset;
            font-weight: 800;
            word-spacing: 10px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            padding: 0;
            margin: 0;
}
.dash{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    margin-bottom: 20px;    
}
.button-1{
    background:rgb(1, 1, 83);
    color: white;
    font-size: 30px;
    padding: 12px 5px;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none ;
    margin-bottom: 10px;
    

}

.button-2 {
    background: rgb(10, 10, 209);
    font-size: 30px;
    padding: 12px 10px;
    cursor: pointer;
    opacity: 0.8;
    
    text-decoration: none ;
    color: white;
    margin-bottom: 10px;

}

.button-3{
    background: rgb(72, 72, 241);
    font-size: 30px;
    padding: 12px 10px;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none ;
    color: white;
    margin-bottom: 10px;
}
i{
    color: #fff;
}
img{
 width: 300px;
 height: 250px;
 margin: 0PX;
 left: 200px;
 top: 50px;
 filter: brightness(1.3);
 mix-blend-mode: multiply;
 display: block;
 

}