*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(https://www.portalautomotriz.com/sites/portalautomotriz.com/files/media/photos/headdd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.titulo{
    color: #ffffff;
    background: #2d3277;
    font-size: 25px;
    font-family: 'Harabara',Verdana, Arial;
    text-align: center;
    border-style: none
}
.bar_nav{
    display: flex;
    background: #fff159;
    color:#2d3277;
    font-size: 20px;
    font-style: unset;
    font-weight: 800;
    font-family: 'Harabara',Verdana, Arial;
    word-spacing: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0;
}
.bar_nav H2{
    margin: auto auto auto 40vw;
}
.bar_nav i{
    color:#ffffff ;
}
.dash{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    margin-bottom: 20px;    
}
.button-1{
    background:rgb(1, 1, 83);
    color: white;
    font-size: 30px;
    padding: 12px 5px;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none ;
    margin-bottom: 10px;
    

}

.button-2 {
    background: rgb(10, 10, 209);
    font-size: 30px;
    padding: 12px 10px;
    cursor: pointer;
    opacity: 0.8;
    
    text-decoration: none ;
    color: white;
    margin-bottom: 10px;

}

.button-3{
    background: rgb(72, 72, 241);
    font-size: 30px;
    padding: 12px 10px;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none ;
    color: white;
    margin-bottom: 10px;
}

i{
    color: #fff;
}


img{
 width: 300px;
 height: 250px;
 margin: 0PX;
 left: 200px;
 top: 50px;
 filter: brightness(1.3);
 mix-blend-mode: multiply;
 display: block;
 

}
.button-4 {
    background: #2d3277;
    font-size: 20px;
    padding: 1px 5px;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 20px;
    margin: 5px 5px 5px auto;
    left: 700px;
    top: -285px;
    text-decoration: none ;
    color: #fff159;
  
}
