*{
    margin: 0;
    padding: 0;
}
body{

    background-image: url(https://www.portalautomotriz.com/sites/portalautomotriz.com/files/media/photos/headdd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.titulo{
    display: flex;
    color: #ffffff;
    background: #2d3277;
    font-size: 25px;
    font-family: 'Harabara',Verdana, Arial;
    text-align: center;
    border-style: none
}
.titulo h1{
    
    margin: auto auto auto -10vw;
}
.nav .logo{
    display: flex;
    width: 100px;
    margin: auto auto auto 3px;
}
.bar_nav{
    display: flex;
    background: #fff159;
    color:#2d3277;
    font-size: 20px;
    font-style: unset;
    font-weight: 800;
    font-family: 'Harabara',Verdana, Arial;
    word-spacing: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0;
}


.bar_nav H2{
    margin: auto auto auto 40vw;
}
.bar_nav i{
    color:#ffffff ;
}
.dash{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    margin-bottom: 20px;    
}

.container_form{
    width: 300px;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    background: #f8f8fa8e;
    color: black;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 5px;
    border-radius: 15px;
    padding: 10PX 5PX ;
    box-shadow: 0 0 10px #000;
    
}
label{
    background: transparent;
    color: rgb(23, 24, 105);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
   
}
input{
    background:white;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}
.button-1{
    width: 60%;
    height: 25px;
    background:#2d3277;
    color: #fff;
    font-size: 18px;
    padding: 3px ;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    border-collapse: collapse;
    font-family: 'Harabara',Verdana, Arial;
}

.button-2 {
    background: #2d3277;
    font-size: 20px;
    padding: 1px 5px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    margin: 5px 5px 5px auto;
    text-decoration: none ;
    color: #fff;
    font-family: 'Harabara',Verdana, Arial;

}


