<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>MERCADO LIBRE</h1>
    <h2>Bienvenido</h2>
    <form class="form">
        <br><br>
         <label for="Usuario"> Usuario: </label>
         <input type="text" name="Usuario" id="Usuario" placeholder="Ingrese Usuario" required>
                    <br><br>
                    <label for="password"> Contraseña: </label>
                    <input type="password" name="Contraseña" id="Contraseña" placeholder="Ingrese Contraseña" required>
         </form>
        
         <div>
            <a  class="button-1" href="/Menu" target="btn1">INICIO</a>
           
        </div>
        <div>
             <a  class="button-2" href="/Registro" target="btn2">REGISTRO</a>
        </div>
</body>
</html>