<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Menu.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <h1>MERCADO LIBRE</h1>
    <h2>Bienvenido</h2>
    <div class="dash">
        <a  class="button-1" href="https://datastudio.google.com/reporting/5a9d38cf-210f-40fd-abde-ff96d066849a/page/LxTmC/edit" target="btn1">Productividades Inbound  <i class="fa-solid fa-chart-column"></i></a>
       
    
        <a  class="button-2" href="https://datastudio.google.com/reporting/a08ab514-a46e-4885-a939-2a446ca84c35/page/GcMkC/edit" target="btn2">SLA  <i class="fa-solid fa-chart-pie"></i></a>
   
       <a  class="button-3" href="https://docs.google.com/spreadsheets/d/15kXaKkrrerIInpl8DsvJ0DKK8uozNVVjFpzTJDED__I/edit#gid=185966619" target="btn3">Reaperturas  <i class="fa-solid fa-book-open"></i></a>
   
    </div>
    <script src="https://kit.fontawesome.com/83dbc2d07a.js" crossorigin="anonymous"></script>
</body>
</html>